<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.smallgames">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icongame"
        android:label="MathDices"
        android:largeHeap="true"
        android:roundIcon="@drawable/icongame"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmallGames"
        tools:targetApi="31">
        <activity
            android:name=".Winning_activity_chicken"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Chicken_game_main"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Chicken_game_introduction"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Winning_activity_card"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Card_game_main"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Card_game_introduction"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Winning_activity_fish_catch"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Fishing_game_main"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Fishing_introduction"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Winning_activity_Slide"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Slide_game_main"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Slide_introduction"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Winningactivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Game1MainActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Game1"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>